        /* selettore   { proprietà : valore ; proprieta : valore ; }   */
        
        /* * {
            border:3px solid  rebeccapurple;
            margin: ;
        }
        */
        
        body { 
            font-family:'Courier New', Courier, monospace;
            background-color: rgb(60, 65, 87);
            color:white;
        }

        h1 , h2 {
            font-family: 'Roboto', arial,sans-serif;
        }